/* for all screens */
.header {
  background-image: linear-gradient( 109.6deg,  rgba(41,125,182,1) 3.6%, rgba(77,58,151,1) 51%, rgba(103,55,115,1) 92.9% );
}

.navigation {
  background-image: linear-gradient( 109.6deg,  rgba(41,125,182,1) 3.6%, rgba(77,58,151,1) 51%, rgba(103,55,115,1) 92.9% );
}

.footer {
  background-image: linear-gradient( 109.6deg,  rgba(41,125,182,1) 3.6%, rgba(77,58,151,1) 51%, rgba(103,55,115,1) 92.9% );
}

.project-card {
  display: inline-block;
  width: 100%;
}

.project-img {
  border-bottom: solid 1px #F0F0F0;
}

.project-container {
  padding: 20px;
}

.project-link-container {
  background-image: linear-gradient( 109.6deg,  rgba(41,125,182,1) 3.6%, rgba(77,58,151,1) 51%, rgba(103,55,115,1) 92.9% ); 
  padding: 10px;
}

.current {
  text-decoration: underline;
}

.footer-link {
  margin: 0 10px;
}

/* for small screens */
.row-padding {
  padding: 25px 5vw;
  margin: 0;
}

.name {
  font-size: 1rem !important;
  font-weight: 500;
}

.nav-link,
.project-link {
  color: #FFFFFF;
  font-family: sans-serif;
  padding: 0 5px;
}

.project-link {
  text-transform: uppercase;
  margin: 0 10px;
}

.project-title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.project-description {
  padding: 10px;
}

.project-tech {
  font-style: italic;
  font-weight: bold;
  font-size: 0.9rem;
}

/* for medium screens */
@media only screen and (min-width: 600px) {
  .row-padding {
    padding: 25px 10vw;
    margin: 0;
  }

  .name {
    font-size: 1.25rem !important;
  }
  
  .nav-link,
  .project-link {
    font-size: 1rem;
    padding: 0 15px;
  }
  
  .project-title {
    font-size: 1.5rem;
  }

  .project-description {
    font-size: 1.15rem;
    padding: 10px;
  }

  .project-tech {
    font-size: 1.05rem;
  }  
}

/* for large screens */
@media only screen and (min-width: 992px) {
  .row-padding {
    padding: 25px 15vw;
    margin: 0;
  }

  .name {
    font-size: 1.25rem !important;
  }

  .nav-link,
  .project-link {
    font-size: 1.25rem !important;
    padding: 0 15px;
  }
  
  .project-title {
    font-size: 1.75rem;
  }
  
  .project-description {
    font-size: 1.25rem;
    padding: 10px;
  }

  .project-tech {
    font-size: 1.15rem;
  }  
}