.row-padding {
  padding: 20px;
  margin: 0px;
}

.footer {
  background-color: #0091AD;
}

.btn-link {
  background-color: #555555;
  margin: 5px;
  font-size: small;
}

/* for medium screens */
@media only screen and (min-width: 600px) {
  .btn-link {
    font-size: medium;
  }
}

/* for large screens */
@media only screen and (min-width: 992px) {
  .btn-link {
    font-size: large;
  }
}