.row-padding {
  padding: 20px;
  margin: 0px;
}

.footer {
  background-color: #d3d3d3;
}

.btn-link {
  background-color: #0091AD;
  margin: 5px;
}

/* for medium screens */
@media only screen and (min-width: 600px) {
  .btn-link {
    height: 50px;
    width: 50px;
    padding-top: 5px;
    margin: 10px;
  }
}

/* for large screens */
@media only screen and (min-width: 992px) {
  .btn-link {
    height: 75px;
    width: 75px;
    padding-top: 16px;
    margin: 10px;
  }
}