.navigation {
  background-color: #733C71;
}

/* for small screens */
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 25px;
}

/* for medium screens */
@media only screen and (min-width: 600px) {
  .nav-link {
    font-size: 1.15rem;
  }
}

/* for large screens */
@media only screen and (min-width: 992px) {
  .nav-link {
    font-size: 1.25rem;
  }
}