.project-card {
  display: inline-block;
  width: 100%;
}

.project-img {
  border-bottom: solid 1px #F0F0F0;
}

.project-container {
  padding: 20px;
}

.project-links {
  background-color: #455E89; 
  padding: 10px;
}

/* for small screens */
.project-description {
  font: #000000;
  padding: 10px;
}

.project-tech {
  font-style: italic;
  font-weight: bold;
  font-size: 0.75rem;
}

.project-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #000000;
  margin: 0;
}

.links {
  font-weight:500;
  color: #FFFFFF;
  margin: 0 10px;
}

/* for medium screens */
@media only screen and (min-width: 600px) {
  .project-description {
    font-size: 1.5rem;
  }

  .project-tech {
    font-size: 1.35rem;
  }  
  
  .project-title {
    font-size: 2rem;
    padding-top: 15px;
  }

  .project-description {
    padding: 10px;
  }
  
  .links {
    font-size: 1.25rem;
  }
}

/* for large screens */
@media only screen and (min-width: 992px) {
  .project-description {
    font-size: 1.5rem;
  }

  .project-tech {
    font-size: 1.35rem;
  }  
  
  .project-title {
    font-size: 2rem;
    padding-top: 0;
  }

  .project-description {
    padding: 10px;
  }
  
  .links {
    font-size: 1.25rem;
  }
}